{% load static %}
 <div class="text-white py-3 px-4 text-center mt-auto wow fadeIn bg-primary">
    <!-- <div class="py-5"> -->
      <div>
          <p class="">© 2021 Copyright: Homohaykins619</p>
      </div>

  </div>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script> -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
